/* Button.css */
.Button {
    display: inline-flex;
    margin: 0 4px;
    padding: 8px 24px;
    border: 0;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    font-family: inherit;
    background-color: #2196f3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  
  .Button:hover,
  .Button:focus {
    background-color: #1976d2;
  }
  
  .Button-disabled {
    background-color: #0000001f;
    color: #00000042;
  }