@value font-stack from '../variables.module.css';

.button {
  display: inline-flex;
  margin: 0 4px;
  padding: 8px 24px;
  border: 0;
  border-radius: 2px;
  font-size: 14px;
  font-family: font-stack;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button:hover,
.button:focus {
  background-color: #1976d2;
}

.active {
  composes: button;
  color: #ffffff;
  background-color: #2196f3;
}

.disabled {
  composes: button;
  color: #00000042;
  background-color: #0000001f;
}

:global(.text_global) {
  color: pink;
}