code {
    color: rgb(30, 119, 131);
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #2a2a2a;
}

.accent {
    color: blueviolet;
    font-weight: bold;
}

.layout .col-sm {
     background-color: #f8a5c2; 
     color:#303952;
     margin:10px;
     padding:10px;
     min-height: 50px;
}

.layout table th, table td {
    border: 20px solid white;
    min-width: 400px;
    color:#303952;
}
.layout table tr {
    background-color: #f8a5c2; 
}